# Node build artifacts
node_modules/
npm-debug.log

# JS output
dist/**/*

# Local development
*.env
*.dev
.DS_Store
## VIM
*.swp
*.pem
*.log
## IntelliJ
.idea/

# Docker
Dockerfile
docker-compose.yml
